# IBM Advertising Bias

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
bias_table = pd.read_csv("new_table.csv")

In [2]:
print(bias_table.head())

   college_educated  homeowner gender    age income  true_conversion  \
0                 1          1      F  55-64  <100K                0
1                 1          1      F  55-64  >100K                0
2                 1          1      F  55-64  <100K                0
3                 1          1      F  55-64  >100K                0
4                 1          1      F  55-64  <100K                0

   predicted_conversion  predicted_probability
0                     0               0.002120
1                     0               0.001710
2                     0               0.008420
3                     0               0.004488
4                     0               0.001874

In [3]:
bias_table = bias_table[bias_table['age'] != "Unknown"]

In [4]:
len(bias_table)

2390

In [5]:
type(bias_table)
len(bias_table)

2390

In [6]:
bias_table.to_csv('removed_unknowns.csv', encoding='utf-8')

In [7]:
from sklearn.metrics import confusion_matrix

In [8]:
confusion_matrix(bias_table['true_conversion'],bias_table['predicted_conversion'])

array([[2381,    3],
       [   5,    1]])

The top row is true positive, false positive and the bottom is false negative, true negative.

Trying to get a list of all the instances where "predicted_conversion" and "true_conversion" in the dataframe bias_table are not equal to each other.

In [15]:
df_false_positive = bias_table[(bias_table['predicted_conversion'] == 1)&(bias_table['true_conversion']==0)]
df_false_negative = bias_table[(bias_table['predicted_conversion'] == 0)&(bias_table['true_conversion']==1)]

      college_educated  homeowner gender    age income  true_conversion  \
748                  1          1      M  55-64  <100K                1
1277                 1          0      M  55-64  >100K                1
1844                 1          0      M  55-64  <100K                1
2280                 1          1      F  55-64  >100K                1
2332                 1          0      F  55-64  <100K                1

      predicted_conversion  predicted_probability
748                      0               0.006888
1277                     0               0.002424
1844                     0               0.006594
2280                     0               0.003530
2332                     0               0.003188

In [18]:
outliers = pd.concat([df_false_positive, df_false_negative])

In [19]:
print(outliers)

      college_educated  homeowner gender    age income  true_conversion  \
228                  1          0      F  55-64  >100K                0
759                  1          1      M  55-64  <100K                0
1080                 1          0      F  55-64  <100K                0
748                  1          1      M  55-64  <100K                1
1277                 1          0      M  55-64  >100K                1
1844                 1          0      M  55-64  <100K                1
2280                 1          1      F  55-64  >100K                1
2332                 1          0      F  55-64  <100K                1

      predicted_conversion  predicted_probability
228                      1               0.421186
759                      1               0.583358
1080                     1               0.365767
748                      0               0.006888
1277                     0               0.002424
1844                     0               0.006594
2280                     0               0.003530
2332                     0               0.003188

In [20]:
len(outliers)

8